<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="datasource"
          class="org.sqlite.SQLiteDataSource"
          p:url="${db_url}"
    />

    <bean id="connector" class="ru.rosbank.javaschool.datasource.xml.XmlSqliteConnector"
          c:login="${login}"
          c:password="${password}"
          c:sqLiteDataSource-ref="datasource"
    />

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="db.properties"/>
    </bean>
</beans>